Repository cosmology-api/cosmology, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, GitHub, Docs

.github/labeler.yml:

# Infrastructure Labels
Infrastructure:
  - .github/**/*
  - .pre-commit-config.yaml
  - .readthedocs.yml
  - .gitignore
  - pyproject.toml
  - setup.cfg

GitHub:
  - .github/**/*

# Docs Labels
Docs:
  - docs/**/*

Add functional forms of cosmology apis
  pyproject.toml
  src/cosmology/core/__init__.py
  src/cosmology/core/background.py
  src/cosmology/core/core.py
  src/cosmology/core/py.typed
  src/cosmology/core/standard.py
Labels: Infrastructure

split into components
  .pre-commit-config.yaml
  pyproject.toml
  src/cosmology/core/components/__init__.py
  src/cosmology/core/components/curvature.py
  src/cosmology/core/components/de.py
  src/cosmology/core/components/matter.py
  src/cosmology/core/components/matter_baryon.py
  src/cosmology/core/components/matter_cdm.py
  src/cosmology/core/components/neutrino.py
  src/cosmology/core/components/photon.py
  src/cosmology/core/components/py.typed
  src/cosmology/core/standard.py
Labels: Infrastructure

only run monthly
  .pre-commit-config.yaml
Labels: Infrastructure

starter docs
  .pre-commit-config.yaml
  docs/.gitignore
  docs/Makefile
  docs/_ext/sphinx_ext_autosummary_context.py
  docs/_ext/sphinx_ext_cosmology_api.py
  docs/_static/.gitignore
  docs/_templates/autosummary/reference.rst
  docs/changelog.rst
  docs/conf.py
  docs/index.rst
  docs/install.rst
  docs/make.bat
  pyproject.toml
Labels: Infrastructure, Docs

Authors
  AUTHORS.rst
Labels: none

config
  pyproject.toml
  tox.ini
Labels: Infrastructure

starter docs (#11)
  .pre-commit-config.yaml
  AUTHORS.rst
  docs/.gitignore
  docs/Makefile
  docs/_ext/sphinx_ext_autosummary_context.py
  docs/_ext/sphinx_ext_cosmology_api.py
  docs/_static/.gitignore
  docs/_templates/autosummary/reference.rst
  docs/changelog.rst
  docs/conf.py
  docs/index.rst
  docs/install.rst
  docs/make.bat
  pyproject.toml
  tox.ini
Labels: Infrastructure, Docs

CI tests
  .github/dependabot.yml
  .github/workflows/ci_tests.yml
Labels: Infrastructure, GitHub

update labeler
  .github/workflows/label_pr.yml
Labels: Infrastructure, GitHub

CI tests (#13)
  .github/dependabot.yml
  .github/workflows/ci_tests.yml
  .github/workflows/label_pr.yml
Labels: Infrastructure, GitHub
